h1{
    background-color: black;
    color: white;
    font-family: cursive;
    padding-left: 15px;
}
h2{
    background-color:blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

h3{
    background: black;
    background-color:lightsteelblue;
    font-family: cursive;
    text-align: right;
    text-decoration: underline;
}



