/* css resets */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkred;
}

/* global variables */

:root{
    --main-bg: rgba(100,100,228,0.583);
    --accent-color: red;
    --text-color: black;
    --secondary-color: rgb(31, 209, 31);
}
/* utility class */
.bg-blue{
    background-color: var(--main-bg);
}

.wrapper{
    padding: 10px;
    /* background-color: gray ; */
    background-color: var(--secondary-color);
    min-height: 200px;
}

h1{
    color: var(--text-color);
}
