#animal{
    height: 400px;
}

.btn{
    height: 30px;
    width: 70px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 0px;
    box-shadow: 4px 4px #222;
    
}


.dark-mode{
    background-color: #222;
    color: white;
}